<h1>Editar lançamento</h1>

<%= render "form.html", Map.merge(assigns, %{action: Routes.entry_path(@conn, :update, @id, @entry), id: @id, options: @options}) %>

<span><%= link "Voltar", to: Routes.report_path(@conn, :show, @id) %></span>